h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 110px;
  margin-left:100px;
  position: relative;
  top:10vh;
}


.liftadog {
  border-radius: 50%;
  width: 70vh;
  height: 70vh;
  background: url('https://media.giphy.com/media/QW3uxqfligvyMMpNhz/giphy.gif');
  background-size: cover;
  background-position: -4vh 0;
  position: absolute;
  bottom:10vh;
  right: 30vh;
  z-index: -100;
}


.new-dog-form {
  margin-top: 230px;
  margin-left:270px;
}

// .dog-form-2 {
//   // margin-left: 300px;
// }

.form-control {
  width: 300px;
  border-radius: 5px;
}

.btn {
  border-radius: 20px;
}

