body {
  background-color: white;
}

.landing-page-h1{
  font-size: 170px;
  position: absolute;
  top:25vh;
}

.high5dog {
  border-radius: 50%;
  width: 80vh;
  height: 80vh;
  background: url('https://media.giphy.com/media/YTXujdmJn3iOVZhMlQ/giphy.gif');
  background-size: cover;
  background-position: -40vh 0;
}

.landing-page-subtitle {
  position: absolute;
  bottom:5vh;
  font-family: 'Comfortaa', cursive;
}


.paw {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 200px;
  right:200px;
  mix-blend-mode: darken;
  cursor: inherit;
  z-index: 10;
}

.paw:hover {
  width: 150px;
  height: 150px;
}



