#fullname {
  font-family:'Comfortaa', cursive;
  color: black;
  font-size: 32px;
}

#welcome {
  font-size: 110px;
}

h2.booking {
  color:white;
  background-color: black;
  text-align: center;
  border-radius: 50px;
  font-family:'Comfortaa', cursive;
  padding:10px;
  width: 600px;
  margin-left: 50px;
}

#dog-avatar {
  background-size: cover;
  background-position: center;
  margin-top: 60px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  // position: relative;
}

.remove-btn {
  margin-left: 300px;
}

#my-dog-avatar {
  background-size: cover;
  background-position: center;
  margin-top: 60px;
  border-radius: 50%;
  margin-bottom: 30px;

}


// .paws {
//   width: 350px;
//   height: 350px;
//   background: url(https://media.giphy.com/media/XZg8zevfdhqhNhaNRQ/giphy.gif);
//   background-size: cover;
//   background-size: 350px 350px;
//   margin-right: 80px;
//   margin-top: 200px;
// }


// .vl {
//   border-left: 2px solid black;
//   height: 500px;
//   position: absolute;
//   left: 42%;
//   top: 40%;
//   margin-left: -3px;
// }
