<div class=container>
  <h1>New Dog<br>In<br>Town</h1>
</div>

<div class='d-flex justify-content-center pt-3'>
   <div class='liftadog' src=""></div>
</div>

<div class="new-dog-form"><%= render 'form' %></div>


