<div class="footer">
  <div class="footer-links">
    Follow us
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <br>

  <div class="footer-copyright" id="text-footer">
    Made with <i class="fas fa-heart"></i>&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;All rights reserved by DoggyBeWithMe
    <%= image_tag 'bone.png', class: "avatar dropdown-toggle", id: "navbarDropdown" %>
  </div>
</div>
