<h1 class='landing-page-h1'>Cuddle<br>Me</h1>

<div class='d-flex justify-content-center pt-3'>
   <div class='high5dog' src=""></div>
</div>


<h2 class='landing-page-subtitle'>
  <span id="banner-typed-text"></span>
</h2>

<div class='cursor-pointer'>
<%= link_to image_tag('paw.png', class: 'paw'), dogs_path %>
</div>

