.heading {
  padding: 20px;
  margin-bottom: 190px;
}


.card-trip {
  overflow: hidden;
  background: white;
}

.card-trip > img {
  height: 235px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
}

.card-trip h2 a {
}


.card-trip p {
  font-size: 18px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  font-size: 18px;
  font-weight:600;
  font-family: 'Comfortaa';
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}


.dog-traits {
  display: flex;
  justify-content: space-between;
  margin-top:10px;
}



.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
  padding: 50px 100px;
}

i {
  font-size: 13px;
}

.heading{
  margin-left: 100px;
  margin-top: 50px;
}

.card-trip p {
  font-size: 15px;
}

.woof {
  height: 100px;
  position: absolute;
  top: -30px;
  right: 180px;
  opacity: 0;
}

.woof-hover:hover + .woof {
  opacity: 1.0;

}
