.card-trip {
  overflow: hidden;
  background: white;
}

.card-trip > img {
  height: 235px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 11px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}


.dog-traits {
  display: flex;
  justify-content: space-between;
}

// .dog-characteristics {
//   display: flex;
//   justify: space-around;
// }

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
  padding: 50px 100px;
}

i {
  font-size: 13px;
}

.heading{
  margin-left: 100px;
  margin-top: 50px;
}


