.show-container {
  width: 700px;
  margin: auto;
  margin-top: 10px;
}

.show-container h1 {
  top: 25vh;
}

.show-header {
  justify-content:space-between;
  vertical-align: middle;
  margin-bottom: 50px;
}

.dogname {
  margin-top: 200px;
  margin-left:600px;
}



.dog-intro {
  margin-top: 30px;
  border-left: 4px solid black;
}

.description {
  margin-top: 40px;
}

.description p {
  text-decoration: underline;
}


#price {
  color: red;
  text-align: right;
  font-size:20px;
  position: absolute;
  right: 150px;
}

.card-info {
margin-top: 30px;
width:100%;
overflow: hidden;
height: 120px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 16px;
}


#new_booking {
  margin-top: 70px;
}

#show-hover-btn {
  position:relative;
}

.btn {
  margin-top: 30px;
  margin-bottom: 30px;
  border-style: solid;
  border-color: #036ce7;
  background: #036ce7;
  color:white;
  font-size: 15px;
  padding: 10px;
}

.btn:hover {
color: white !important;
}

.woof {
  height: 300px;
  position: absolute;
  opacity: 1;
}

.woof-hover:hover + .woof {
  opacity: 1.0;
}
